<% content_for :main do %>


      <div class="flex gap-8 py-8  flex-wrap justify-center mx-auto max-w-5xl">
        <%= render "web/shared/about_page_nav" %>


        <main class="grow shrink basis-sm px-8">

            <h1 class="font-bold text-4xl pb-8"><%= page_heading  %></h1>
            <%= yield (:extra_page_heading) %>
            <section class="prose ">

              <%= yield %>
            </section>
      </main>
      <footer
  class=" p-4 flex-grow">

          <h4 class='font-semibold'>Acknowledgement of Country</h4>
          <p class='text-sm'>We respect and honour Aboriginal and Torres Strait Islander Elders past, present and future.</p>
          <p class='text-sm'>We acknowledge the stories, traditions and living cultures of Aboriginal and Torres Strait Islander peoples on this land.</p>
      </footer>
      </div>

<%  end %>

<%= render template: "web/layouts/application" %>
