<% content_for :head do %>
  <%= spa_preload_tags %>
  <%= spa_external_dependency_tags %>
  <%= spa_stylesheet_tags %>
  <script>
   window.APP_CONFIG = <%= render(template: 'web/explorer/explorer_config',formats: [:json], locals: { explorer_config: @explorer_config }).html_safe %>;

  </script>
  <style type="text/css">
   /* temporary fix while moving over to new layout in spa */
   #root > div{

     flex-grow:1;

   }
  </style>
  <% end %>
  <% content_for :main do %>
  <div id="root" class="flex flex-1">
    <%= yield(:html_fallback) %>
  </div>
  <% if !params[:nojs]  %>
    <%= spa_entrypoint_javascript_tag %>
    <%  end %>
<%  end %>

<%= render template: "web/layouts/application" %>
