<header class="w-full bg-gray-800 text-white sticky top-0 z-50">


    <div class="flex justify-between items-center flex-wrap max-w-8xl mx-auto py-2 px-5">

  <%= link_to home_path, class: "site-logo flex justify-start items-center text-slate-50 font-sans text-xl" do %>
    <%= image_tag 'web/lml-brandmark.svg', class: "flex-shrink w-10", alt: "Brand Logo", height: 40, width: 40 %>
    <span class="px-2">Live Music Locator</span>
    <span class='font-semibold transform-uppercase'><%= edition_title%></span>
  <% end %>
      <!-- todo -add back hidden lg:block if we implemennt mobile menu -->
  <ul class="flex flex-row gap-x-4">
    <% nav_menu_items.each do |nav_menu_item| %>
      <%= link_to nav_menu_item[:path], class: class_names('font-normal transition duration-200 hover:text-slate-300', { "font-semibold": nav_menu_item[:current] }) do %>
        <%= nav_menu_item[:name] %>
      <%end%>
    <%end%>
  </ul>
  </div>

</header>
