<% title "About Live Music Locator" %>

  <section>
    <%= image_tag 'web/lmllogo.png', alt: 'Live Music Locator Logo', height: 256, width:256 %>
    
    <!-- TODO: Implement location-specific content -->
    <p><mark>TODO: This copy is from lml.live - will also have location specific stuff to insert occasionnally</mark></p>

      <p>
        All data is verified within 48 hours of show dates. If you notice any 
        discrepancies, please send us an email.
      </p>

      <p>
        We work with local venues and promoters to provide the most accurate 
        information about live music events in your area.
      </p>
      
      <p>
        Our free API is available for developers, venues, and anyone who wants 
        to help promote live music. We're always looking for volunteers to help 
        us expand to new areas.
      </p>
      

        <p>
          Website: 
          <%= link_to 'https://livemusiclocator.com.au', 
              'https://livemusiclocator.com.au', 
              target: '_blank',
              rel: 'noopener noreferrer' %>
        </p>
        <p>
          Email: 
          <%= mail_to 'info@livemusiclocator.com.au', 
              'info@livemusiclocator.com.au' %>
        </p>

      <h3 >Volunteer Team</h3>

      <ul>
        <% team_members[:all_members].each do |member| %>
            <li>
            <span class="font-semibold"><%= member[:name] %></span>
            <%= member[:role] %>
          </li>
        <% end %>
      </ul>

      <h3 >Directors</h3>
      <ul>
        <% team_members[:key_members].each do |member| %>
          <li>
            <span class="font-semibold"><%= member[:name] %></span>
            <%= member[:role] %>
          </li>
        <% end %>
      </ul>
  </section>
